<html> 
  <body>
    <form method="POST" action="/new" id="one">
      <h1>Enter details</h1>
      <label for="name">Name</label>
      <input type="text" id="name" name="nameText">
      <label for="msg">Message</label>
      <input type="text" id="msg" name="messageText">
      <button type="submit" form="one">Submit</button>
    </form>
  </body>
</html>
